<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <h1>Accounts</h1>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Number of receipts</th>
          </tr>
        </thead>

        <tbody>
          {% for items in receipt_list %}
          <tr>
            <td>{{items.name}}</td>
            <td>{{ items.number }}</td>
            <td>{{items.receipts.all|length}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
