<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
    <li><a href="{% url 'create_receipt' %}">Create a receipt</a></li>
    <li><a href="{% url 'create_category' %}">Create a category</a></li>
        <li><a href="{% url 'create_account' %}">Create a Account</a></li>
    </nav>
    <main>
        <h1>My Receipts</h1>
        <table>
            <thead>

                <tr>
                    <th>Vendor</th>
                    <th>Total</th>
                    <th>Tax</th>
                    <th>Date</th>
                    <th>Category</th>
                    <th>Account</th>
                </tr>

            </thead>

            <tbody>
                {% for items in receipt_list %}
                <tr>
                <td>{{items.vendor}}</td>
                <td>{{items.total}}</td>
                <td>{{items.tax}}</td>
                <td>{{items.date|date:"n/j/y"}}</td>
                <td>{{items.category.name}}</td>
                <td>{{items.account.name}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>
